<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lisää keikka</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Keikka</h1>
	
		<form method="post" action="#" th:action="@{/savekeikka}" th:object= ${keikka} > 
 		<p>Keikan nimi: <input type="text" th:field="${keikka.keikanNimi}" /></p>
 		<p>Päivämäärä: <input type="text" th:field="${keikka.pvm}"/></p>
 		<p>Hinta: <input type="text" th:field="${keikka.hinta}" /></p>
 		<p>Lokaatio: <input type="text" th:field="${keikka.lokaatio}" /></p>
	 <!-- 	<p>Artisti: <input type="text" th:field="${keikka.artistiListaus}" /></p> -->
 	  	<p>Tyyppi: <input type="text" th:field="${keikka.kategoria.tyyppi}" /></p>
 		<p>Genre: <input type="text" th:field="${keikka.kategoria.genre}" /></p> 
		<input type="submit" value="Submit" />
		</form>
	
</body>
</html>